---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import WaveSvg from '../../components/graphics/WaveSvg.astro';
import HeroImage from '../../components/blocks/HeroImage.astro';
import TextBox from '../../components/snippets/TextBox.astro';
import GallerySlider from '../../components/blocks/GallerySlider.astro';
import PageTitle from '../../components/blocks/PageTitle.astro';
import ParallaxImage from '../../components/snippets/ParallaxImage.astro';
import MiniCollage from '../../components/snippets/MiniCollage.astro';
import InnerMenu from '../../components/InnerMenu.astro';
import { cissyrMenu, mainMenu } from "../../constants/pages";
import WhatsappBubble from '../../components/WhatsappBubble.astro';

const parentPage = mainMenu.find((page) => page.submenu === cissyrMenu)
---

<Layout title="Capacitaciones – Centro Integral de salud sexual y reproductiva – Fundación Cigesar">
	<Header />
	<main class="page">
		<header>
			<HeroImage src="/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/header.jpg" size="small">
				<WaveSvg />
			</HeroImage>
			<PageTitle title="Capacitaciones" backTo={parentPage} />
			<div class="container">
				<InnerMenu menu={cissyrMenu} />
			</div>
		</header>

		<section class="light -no-gap">
			<div class="container">
				<div class="image-with-text">
					<div class="image-with-text__text">
						<TextBox>
								<p>Talleres ESI (educación sexual integral) para instituciones educativas con la finalidad de empoderar a los agentes educativos en ESI, y de esta manera que puedan brindar conocimientos pertinentes, precisos, confiables científicamente actualizados y socialmente significativos.</p>
						</TextBox>
						<ParallaxImage src="/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/talleres-01.jpg" width={600} height={480} />
					</div>
					<div class="image-with-text__image">
						<MiniCollage
							smallImageUrl="/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/talleres-03.jpg"
							bigImageUrl="/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/talleres-02.png"
							
						/>
					</div>
				</div>
			</div>

			
		</section>

		<section class="-light -no-gap">
			<div class="container">
				<GallerySlider 
					title="Campañas de salud"
					images={[
						{ src: '/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/campanas-01.jpg', alt: '' },
						{ src: '/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/campanas-02.jpg', alt: '' },
						{ src: '/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/campanas-03.jpg', alt: '' },
						{ src: '/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/campanas-04.jpg', alt: '' },
						{ src: '/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/campanas-05.jpg', alt: '' },
						{ src: '/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/campanas-06.jpg', alt: '' },
						{ src: '/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/campanas-07.jpg', alt: '' },
						{ src: '/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/campanas-08.jpg', alt: '' },
						{ src: '/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/campanas-09.jpg', alt: '' },
						{ src: '/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/campanas-10.jpg', alt: '' },
						{ src: '/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/campanas-11.jpg', alt: '' },
						{ src: '/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/campanas-12.jpg', alt: '' },
						{ src: '/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/campanas-13.jpg', alt: '' },
						{ src: '/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/campanas-14.jpg', alt: '' },
						{ src: '/img/centro-de-salud-sexual-y-reproductiva/capacitaciones/campanas-15.jpg', alt: '' },
					]}
					
				/>
				<TextBox>
					<ol class="campaigns">
						<li><b>2018</b> Atención de 100 personas que accedieron a la consulta ginecológica y realizaron control de patología cervical e infecciones de transmisión sexual. En barrio ejercito de los Andes 3 de Febrero Buenos Aires.</li>
						<li><b>2019</b> Atención de 200 personas que accedieron a la consulta ginecológica, realizaron control de patología cervical, infecciones de transmisión sexual, asesoramiento en métodos anticonceptivos y educación sexual integral. En barrio libertador 3 de Febrero Buenos Aires.</li>
						<li><b>2020</b> Atención a la consulta ginecológica y asesoramiento en métodos anticonceptivos de larga duración enfocado en implantes subdermicos y dispositivos intrauterinos (DIU). Concretando la colocación de 50 implantes subdermicos y 50 DIU. En el centro de salud sexual y reproductiva.</li>
					</ol>
				</TextBox>
			</div>
		</section>

	</main>
	<Footer />
	<WhatsappBubble phoneNumber="5491161874697" />
</Layout>

<style>
	:root {
		--page-primary-color: var(--accent-color-1);
		--page-contrasting-color: var(--white);
	}


	.image-with-text {
		display: flex;
		padding: 2rem 0 3rem;
		gap: 3rem;

		@media screen and (max-width: 575px){
			flex-direction: column;
		}

		&__image {
			flex: 1;
		}
		&__text {
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: 3rem;
		}
		
	}

	@media screen and (max-width: 575px){
		.parallax-image{
			display: none !important;
		}
	}

	.campaigns {
		list-style: none;
		padding: 0;
		margin: 4rem 0;
		display: flex;
		gap: 4rem;

		li {
			flex: 1;
		}

		b {
			display: block;
		}
		@media screen and (max-width: 575px){
			flex-direction: column;
			margin:  2rem 0;
		}
	}

	section {
		padding: 4rem 0;
		background-color: var(--gray-100);

		&.light {
			background-color: var(--white);
		}

		&.no-gap {
			padding: 0;
		}

		&.overlap {
			margin-top: -200px;
			padding-top: 200px;
		}
	}
</style>
