---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import HighlightText from '../../components/snippets/HighlightText.astro';
import WaveSvg from '../../components/graphics/WaveSvg.astro';
import HeroImage from '../../components/blocks/HeroImage.astro';
import TextBox from '../../components/snippets/TextBox.astro';
import ScrollContext from '../../components/snippets/ScrollContext.astro';
import GallerySlider from '../../components/blocks/GallerySlider.astro';
import PageTitle from '../../components/blocks/PageTitle.astro';
import PressArticle from '../../components/snippets/PressArticle.astro';
import Profile from '../../components/blocks/Profile.astro';
import YoutubePlayer from '../../components/blocks/YoutubePlayer.astro';
import ParallaxImage from '../../components/snippets/ParallaxImage.astro';
import TextCard from '../../components/snippets/TextCard.astro';
import YoutubeVideoLauncher from '../../components/snippets/YoutubeVideoLauncher.astro';
import IconGallery from '../../components/icons/IconGallery.astro';
import IconInfo from '../../components/icons/IconInfo.astro';
import IconQuote from '../../components/icons/IconQuote.astro';
import LinkButton from '../../components/snippets/LinkButton.astro';
import MiniCollage from '../../components/snippets/MiniCollage.astro';
import InnerMenu from '../../components/InnerMenu.astro';
import { cissyrMenu, mainMenu } from "../../constants/pages";

const parentPage = mainMenu.find((page) => page.submenu === cissyrMenu)
---

<Layout title="Capacitaciones – Centro Integral de salud sexual y reproductiva – Fundacion Cigesar">
	<Header />
	<main class="page">
		<header>
			<HeroImage src="https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/IMG_5730-1024x683.jpg" size="small">
				<WaveSvg />
			</HeroImage>
			<PageTitle title="Capacitaciones" backTo={parentPage} />
			<div class="container">
				<InnerMenu menu={cissyrMenu} />
			</div>
		</header>

		<section class="light -no-gap">
			<div class="container">
				<div class="image-with-text">
					<div class="image-with-text__text">
						<TextBox>
								<p>Talleres ESI (educación sexual integral) para instituciones educativas con la finalidad de empoderar a los agentes educativos en ESI, y de esta manera que puedan brindar conocimientos pertinentes, precisos, confiables científicamente actualizados y socialmente significativos.</p>
						</TextBox>
						<ParallaxImage src="https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/Screenshot_20210823-220606-e1630431400593-768x509.jpg" width={600} height={480} />
					</div>
					<div class="image-with-text__image">
						<MiniCollage
							smallImageUrl="https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/Screenshot_20210823-221246-e1630423023353-768x514.jpg"
							bigImageUrl="https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/Screenshot_20210823-221302-e1630431136323-768x514.png"
							
						/>
					</div>
				</div>
			</div>

			
		</section>

		<section class="-light -no-gap">
			<div class="container">
				<GallerySlider 
					title="Campañas de salud"
					images={[
						{ src: 'https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/IMG_5763-1024x683.jpg', alt: '' },
						{ src: 'https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/IMG_5865-1024x683.jpg', alt: '' },
						{ src: 'https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/IMG_5867-1-1024x683.jpg', alt: '' },
						{ src: 'https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/20191019_173204-scaled-e1630430642900-1024x683.jpg', alt: '' },
						{ src: 'https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/IMG_5780-1024x683.jpg', alt: '' },
						{ src: 'https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/IMG_5756-1024x683.jpg', alt: '' },
						{ src: 'https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/IMG_5757-1024x683.jpg', alt: '' },
						{ src: 'https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/20191019_185153-scaled-e1630430695914-1024x683.jpg', alt: '' },
						{ src: 'https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/gte-1024x683.jpg', alt: '' },
						{ src: 'https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/IMG_5785-1024x683.jpg', alt: '' },
						{ src: 'https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/IMG_5745-1024x683.jpg', alt: '' },
						{ src: 'https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/IMG_5788-1-1024x683.jpg', alt: '' },
						{ src: 'https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/IMG_5735-1024x683.jpg', alt: '' },
						{ src: 'https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/IMG_5696-1024x683.jpg', alt: '' },
						{ src: 'https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/IMG_5730-1024x683.jpg', alt: '' },
					]}
					
				/>
				<TextBox>
					<ol class="campaigns">
						<li><b>2018</b> Atención de 100 personas que accedieron a la consulta ginecológica y realizaron control de patología cervical e infecciones de transmisión sexual. En barrio ejercito de los Andes 3 de Febrero Buenos Aires.</li>
						<li><b>2019</b> Atención de 200 personas que accedieron a la consulta ginecológica, realizaron control de patología cervical, infecciones de transmisión sexual, asesoramiento en métodos anticonceptivos y educación sexual integral. En barrio libertador 3 de Febrero Buenos Aires.</li>
						<li><b>2020</b> Atención a la consulta ginecológica y asesoramiento en métodos anticonceptivos de larga duración enfocado en implantes subdermicos y dispositivos intrauterinos (DIU). Concretando la colocación de 50 implantes subdermicos y 50 DIU. En el centro de salud sexual y reproductiva.</li>
					</ol>
				</TextBox>
			</div>
		</section>

	</main>
	<Footer />
</Layout>

<style>
	:root {
		--page-primary-color: var(--accent-color-1);
		--page-contrasting-color: var(--white);
	}


	.image-with-text {
		display: flex;
		padding: 2rem 0 3rem;
		gap: 3rem;
		&__image {
			flex: 1;
		}
		&__text {
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: 3rem;
		}
	}

	.campaigns {
		list-style: none;
		padding: 0;
		margin: 4rem 0;
		display: flex;
		gap: 4rem;

		li {
			flex: 1;
		}

		b {
			display: block;
		}
	}

	section {
		padding: 4rem 0;
		background-color: var(--gray-100);

		&.light {
			background-color: var(--white);
			/* padding: 1.5rem 0; */
		}

		&.no-gap {
			padding: 0;
		}

		&.overlap {
			margin-top: -200px;
			padding-top: 200px;
		}
	}
</style>
