---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import WaveSvg from '../../components/graphics/WaveSvg.astro';
import HeroImage from '../../components/blocks/HeroImage.astro';
import TextBox from '../../components/snippets/TextBox.astro';
import PageTitle from '../../components/blocks/PageTitle.astro';
import MiniCollage from '../../components/snippets/MiniCollage.astro';
import InnerMenu from '../../components/InnerMenu.astro';
import { cissyrMenu, mainMenu } from "../../constants/pages";
import WhatsappBubble from '../../components/WhatsappBubble.astro';

const parentPage = mainMenu.find((page) => page.submenu === cissyrMenu)
---

<Layout title="Somos – Centro Integral de salud sexual y reproductiva – Fundación Cigesar">
	<Header />
	<main class="page">
		<header>
			<HeroImage src="/img/centro-de-salud-sexual-y-reproductiva/somos/header.jpg" size="small">
				<WaveSvg />
			</HeroImage>
			<PageTitle title="Somos" backTo={parentPage} />
			<div class="container">
				<InnerMenu menu={cissyrMenu} />
			</div>
		</header>

		<section class="light -no-gap">
			<div class="container">
				<div class="image-with-text">
					<div class="image-with-text__text">
						<TextBox>
							<div class="text-with-iamge__text">
								<p>Somos una organización Argentina con alcance latinoamericano, creada en 2015, a cargo del Dr. Levy Damián, brindando salud integral y garantizando los derechos de salud sexual y reproductivos; trabajando para asegurar que la atención del aborto sea seguro, legal y accesible para todas las mujeres y personas gestantes; creando conciencia sobre el impacto del aborto seguro en la salud publica y la justicia social.</p>
								<p>En el marco de la ley 27.610 la implementación de la INTERRUPCIÓN VOLUNTARIA DEL EMBARAZO (IVE); nos permite como institución continuar garantizando practicas seguras, acceso a métodos anticonceptivos e implementar la EDUCACION SEXUAL INTEGRAL (ESI), por consiguiente generando una disminución de la morbimortalidad y promoviendo el acceso a los derechos sexuales y reproductivos y no reproductivos de las personas.</p>
							</div>
						</TextBox>
					</div>
					<div class="image-with-text__image">
						<MiniCollage
							smallImageUrl="/img/centro-de-salud-sexual-y-reproductiva/somos/somos-02.jpg"
							bigImageUrl="/img/centro-de-salud-sexual-y-reproductiva/somos/somos-01.jpg"
							invert
						/>
					</div>
				</div>
			</div>
		</section>
	</main>
	<Footer />
	<WhatsappBubble phoneNumber="5491161874697" />
</Layout>

<style>
	:root {
		--page-primary-color: var(--accent-color-1);
		--page-contrasting-color: var(--white);
	}


	.image-with-text {
		display: flex;
		padding: 2rem 0 3rem;
		gap: 80px;
		&__image {
			flex: 1;
		}
		&__text {
			flex: 1;
			position: relative;
			position: relative;
			h2 {
				font-size: 2.75rem;
				line-height: 1.125;
				text-wrap: balance;
				margin: 6rem 0 0;
			}

			&__link {
				position: absolute;
				top: 50%;
				left: 3rem;
			}
		}
	}
	@media screen and (max-width: 767px){
		.image-with-text {
			flex-direction: column;
			padding: 1rem 0 3rem;
		}
	}

	section {
		padding: 4rem 0;
		background-color: var(--gray-100);

		&.light {
			background-color: var(--white);
		}

		&.no-gap {
			padding: 0;
		}

		&.overlap {
			margin-top: -200px;
			padding-top: 200px;
		}
	}
</style>
