---
import ScrollContext from '../snippets/ScrollContext.astro';
import ImageSlider from '../snippets/ImageSlider.astro';
import ImageSliderSlide from '../snippets/ImageSliderSlide.astro';

interface ImageData {
	src: string;
	alt: string;
}

interface Props {
	title: string;
	images: Array<ImageData>;
	alignRight?: boolean;
}

const { title, alignRight, images } = Astro.props;
---

<ScrollContext>
	<div class="gallery-slider">
		<div class:list={ [ 'gallery-slider__title', { 'gallery-slider__title--right': alignRight } ] }>
			<h2>{ title }</h2>
		</div>
		<div class="gallery-slider__images">
			<ImageSlider>
				{ images.map((imageData) => <ImageSliderSlide src={imageData.src} alt={imageData.alt}) />) }
			</ImageSlider>
		</div>
	</div>
</ScrollContext>

<style>
	.gallery-slider {
		display: flex;
		flex-direction: column-reverse;

		&__images {
			transform: translate3d(0,calc(var(--sc-position) * 100px),0);
		}
		
		&__title {
			display: flex;
			justify-content: flex-start;

			h2 {
				position: relative;
				max-width: 75%;
				/* transform: translate3d(0,calc(var(--sc-position) * -3em),0); */
				/* position: absolute; */
				padding: 2rem 3rem;
				/* padding-top: calc(2em + (var(--sc-position) * 2em)); */
				background-color: var(--white);
				/* max-width: 80%; */
				margin: 0 3rem 0 1rem;
				/* margin-bottom: -10rem; */
				/* position: absolute; */
				z-index: 2;
				text-wrap: balance;
				bottom: 0;
				/* height: 100%; */
	
				/* font-size: 1.25rem; */
				/* margin-top: -3rem; */
				/* margin-left: 1rem; */
				font-weight: var(--font-weight-bold);
			}

			&--right {
				justify-content: flex-end;
				h2 {
					margin-right: 1rem;
					margin-left: 3rem;
					text-align: right;
				}
			}
		}

	}
</style>
