---
import IconShare from '../icons/IconShare.astro';
import LinkButton from '../snippets/LinkButton.astro';
import ScrollContext from '../snippets/ScrollContext.astro';

interface Props {
	name: string;
	position: string;
	curriculum: Array<string>;
	pictureUrl?: string;
	websiteUrl?: string;
	websiteTitle?:string;
}

const { name, position, curriculum, pictureUrl, websiteUrl, websiteTitle } = Astro.props;
---

<ScrollContext>
	<article class:list={ [ 'profile', 'sc-map-position', { 'profile--no-picture': !pictureUrl } ]}>
		<div class="profile__content">
			<header class="profile__header">
				<h3 class="profile__name">{ name }</h3>
				<p class="profile__position">{ position }</p>
			</header>
			<ul class="profile__curriculum sc-map-position">
				{
					curriculum.map((text) => <li class="profile__curriculum__item">
						<ScrollContext><span class="sc-activable">{text}</span></ScrollContext>
					</li>)
				}
			</ul>
			{ websiteUrl && <LinkButton style="link" text={ websiteTitle || websiteUrl } href={websiteUrl} external><IconShare /></LinkButton> }
		</div>
		<div class="profile__picture">
			{ pictureUrl && <img src={ pictureUrl } alt={ name }/> }
		</div>
	</article>
</ScrollContext>

<style>
	.profile {
		display: flex;
		flex-direction: row-reverse;
		gap: 0;
		margin-bottom: 2rem;
		--sc-map-position-from: 4rem;
		--sc-map-position-to: -2rem;

		@media screen and (max-width: 767px) {
			flex-direction: column-reverse;
			position: relative;
		}

		&__picture {
			width: 50%;
			max-width: 260px;

			@media screen and (max-width: 1199px) {
				width: 32%;
			}
			@media screen and (max-width: 767px) {
				margin: 0 1.5rem;
				width: auto;
				margin-bottom: -9rem;
				max-width: none;
			}

			img {
				display: block;
				width: 100%;
				aspect-ratio: 3/4;
				object-fit: cover;
				margin: 3rem auto 5rem;
				transform: translate3d(0,var(--sc-new-position),0);

				@media screen and (max-width: 767px) {
					margin: 0;
					width: 50%;
				}
				@media screen and (max-width: 575px) {
					margin: 0;
					width: 80%;
				}
			}
		}

		&--no-picture &__picture {
			@media screen and (max-width: 767px) {
				display: none;
			}
		}

		&__content {
			flex: 1;
			background: var(--white);
			padding: 3rem;
			margin-left: -3rem;
			padding-left: 7rem;

			@media screen and (max-width: 1199px) {
				padding-left: 5rem;
			}
			@media screen and (max-width: 767px) {
				margin: 0;
				padding: 13rem 1.5rem 5rem;
			}
		}

		&--no-picture &__content {
			@media screen and (max-width: 767px) {
				padding-top: 4rem;
			}
		}

		&__header {
			margin-bottom: 5rem;
			transform: translate3d(0,var(--sc-new-position),0);
		}

		&__name {
			font-size: 1.375rem;
			margin: 0;
		}
		
		&__position {
			font-size: 1.125rem;
			margin: 0;
		}

		&__curriculum, &__curriculum__item {
			
		}

		&__curriculum {
			margin: 0;
			padding: 0;
			list-style: none;
			margin-bottom: 3rem;

			&__item {
				margin: 0;
				padding: 0;
				list-style: none;
				margin-bottom: 0.875rem;

				font-size: 1rem;
				font-weight: var(--font-weight-light);
				text-wrap: balance;

				span {
					display: inline-block;
					padding-left: 3rem;
					position: relative;

					&::before {
						content: "";
						display: block;
						width: 7px;
						height: 7px;
						border-radius: 4px;
						position: absolute;
						top: 50%;
						left: 1.5rem;
						transform: translateY(-50%);
						background-color: var(--accent-color);
					}

					&.sc-was-active {
						animation: profile-item-in 600ms ease-in-out;
						@keyframes profile-item-in {
							0%, 10% { opacity: 0; transform: translateY(1rem); }
							100% { opacity: 1; transform: translateY(0); padding-bottom: 0; }
						}
					}
				}
			}
		}
	}
</style>
