---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HighlightText from '../components/snippets/HighlightText.astro';
import WaveSvg from '../components/graphics/WaveSvg.astro';
import HeroImage from '../components/blocks/HeroImage.astro';
import TextBox from '../components/snippets/TextBox.astro';
import ScrollContext from '../components/snippets/ScrollContext.astro';
import GallerySlider from '../components/blocks/GallerySlider.astro';
import PageTitle from '../components/blocks/PageTitle.astro';
import PressArticle from '../components/snippets/PressArticle.astro';
import Profile from '../components/blocks/Profile.astro';
import YoutubeModal from '../components/blocks/YoutubeModal.astro';
import WhatsappBubble from '../components/WhatsappBubble.astro';
---

<Layout title="Medios – Fundación Cigesar">
	<Header />
	<main class="page">
		<header>
			<HeroImage src="https://firebasestorage.googleapis.com/v0/b/fundacion-cigesar.appspot.com/o/medios%2Fheader.jpg?alt=media&token=37fd188a-c24c-41ab-a955-faaa1f20c0e3" size="small">
				<WaveSvg />
			</HeroImage>
			<PageTitle title="Medios" />
		</header>
		<section class="light">
			<div class="container">
				<div class="press-articles">
					<PressArticle 
						title="“Tenemos que seguir trabajando e informando que ya no hay más espacio para obstruir ni mentir con respecto al aborto.”"
						source="La noticia web"
						abstract="Entrevista al Dr. Damian Levy médico ginecólogo. Obstetra Diplomado en salud sexual y reproductiva."
						pictureUrl="https://fundacioncigesar.org.ar/wp-content/uploads/2021/08/WhatsApp-Image-2021-08-26-at-12.56.45.jpeg"
						linkUrl="https://www.lanoticiaweb.com.ar/218659/tenemos-que-seguir-trabajando-e-informando-que-ya-no-hay-mas-espacio-para-obstruir-ni-mentir-con-respecto-al-aborto/"
					></PressArticle>
					<PressArticle 
						title="Los Angeles times"
						source="Por Sarah Parvini"
						abstract="Argentina prohíbe el aborto en la mayoría de los casos; entonces, ¿por qué la tasa es mucho más alta que en EU?"
						pictureUrl="https://fundacioncigesar.org.ar/wp-content/uploads/2021/07/Aborto-Argentina-e1529366246614.jpg"
						linkUrl="https://www.latimes.com/espanol/internacional/hoyla-lat-argentina-prohibe-el-aborto-en-la-mayoria-de-los-casos-entonces-por-que-la-tasa-es-mucho-mas-alta-qu-20171030-story.html"
					></PressArticle>
					<PressArticle 
						title="Médic@s a favor de la despenalización aborto: Damián Levy"
						source="Producción de REDAAS, ELA"
						abstract="Equipo Latinoamericano de Justicia y Género y CEDES. Centro de Estudios de Estado y Sociedad"
						pictureUrl="https://fundacioncigesar.org.ar/wp-content/uploads/2021/07/derecho.jpg"
						youtubeVideoId="Vx6gghurhcI"
					></PressArticle>
					<PressArticle 
						title="Interrupción legal del embarazo"
						source="Saludarte"
						abstract="Entrevista al Dr. Damian Levy médico ginecólogo. Obstetra Diplomado en salud sexual y reproductiva, 2020."
						pictureUrl="https://fundacioncigesar.org.ar/wp-content/uploads/2021/07/girl-model-portrait-97433.jpg"
						youtubeVideoId="fC8gigfXcCw"
					></PressArticle>
					<PressArticle 
						title="Día Mundial de la Anticoncepción (26 de setiembre)"
						source="Saludarte"
						abstract="Entrevista al Dr. Damian Levy médico ginecólogo. Obstetra Diplomado en salud sexual y reproductiva, 2020."
						pictureUrl="https://fundacioncigesar.org.ar/wp-content/uploads/2021/07/pills-birth-control-pills-control-1354782.jpg"
						youtubeVideoId="n6X3DBokDmc"
					></PressArticle>
					<PressArticle 
						title="Informe para RTL News"
						abstract="Elaboración de informes y edición: Sandra Korstjens. Cámara: Pietro Varoli Guimaraesã. Producción: Eugenia Saad."
						pictureUrl="https://fundacioncigesar.org.ar/wp-content/uploads/2021/07/abortolegal.jpg"
						youtubeVideoId="oLnIPNoMIHA"
					></PressArticle>
				</div>
			</div>
		</section>
	</main>
	<Footer />
	<WhatsappBubble phoneNumber="5491161874697" />
</Layout>

<style>
	:root {
		--page-primary-color: var(--accent-color-4);
		--page-contrasting-color: var(--gray-900);
	}

	.press-articles {
		display: flex;
		flex-direction: column;
		gap: 6rem;
		margin-bottom: 4rem;
	}

	section {
		padding: 4rem 0;
		background-color: var(--gray-100);

		&.light {
			background-color: var(--white);
			/* padding: 1.5rem 0; */
		}

		&.no-gap {
			padding: 0;
		}

		&.overlap {
			margin-top: -200px;
			padding-top: 200px;
		}
	}
</style>
