---

---
<div class="contact-data">
	<dl>
		<dt>Dirección</dt>					
		<dd class="footer__contact-data__address">Fray justo Sta. Maria de oro 4630, Caseros, 3 de Febrero, Buenos Aires.</dd>
		<dt>Correo</dt>
		<dd class="footer__contact-data__email">info@fundacioncigesar.org.ar</dd>
		<dt>Teléfono</dt>
		<dd class="footer__contact-data__phone">11 61874697</dd>
	</dl>
</div>
<style>
	.contact-data {
		dl, dt, dd {
			padding: 0;
			margin: 0;
		}
		dl {
			display: block;
		}
		dt {
			font-weight: var(--font-weight-regular);
			font-size: 0.9375rem;
			margin-bottom: 0.25rem;
		}
		dd {
			font-size: 1.125rem;
			font-weight: var(--font-weight-light);
			text-wrap: balance;
			color: var(--gray-700);
			margin-bottom: 1.5rem;	

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
</style>
