---

---
<div class="contact-data">
	<dl>
		<dt>Dirección</dt>					
		<dd class="contact-data__address">Fray justo Sta. Maria de oro 4630, Caseros, 3 de Febrero, Buenos Aires.</dd>
		<dt>Correo</dt>
		<dd class="contact-data__email">info<span class="spam-trap">x</span>@fundacioncigesar.org.ar</dd>
		<dt>Teléfono</dt>
		<dd class="contact-data__phone">11 618<span class="spam-trap">x</span>74697</dd>
		<dd class="contact-data__phone">0810 19<span class="spam-trap">x</span>9 2449</dd>
	</dl>
</div>
<style>
	.contact-data {
		dl, dt, dd {
			padding: 0;
			margin: 0;
		}
		dl {
			display: block;
		}
		dt {
			font-weight: var(--font-weight-regular);
			font-size: 0.9375rem;
			margin-bottom: 0.25rem;
		}
		dd {
			font-size: 1.125rem;
			font-weight: var(--font-weight-light);
			text-wrap: balance;
			color: var(--gray-700);
			margin-bottom: 1.5rem;	
		}
		
		& &__phone {
			margin-bottom: 0;
		}

		.spam-trap {
			display: none;
		}
	}
</style>
