---
import SocialIconLinks from './SocialIconLinks.astro';
import ContactData from './ContactData.astro';
import mainMenu from '../constants/pages';

const year = new Date().getFullYear()
---

<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__logo area1">
				<img src="https://fundacioncigesar.org.ar/wp-content/uploads/2021/02/002-scaled-298x126.jpg" alt="Fundación Cigesar">
			</div>
			<section class="footer__contact-data area2">
				<h3>Contactanos</h3>
				<div class="footer__contact-data__info">
					<ContactData />
				</div>
			</section>
			<section class="footer__social-links area4">
				<h3>Seguinos</h3>
				<div class="footer__social-links__links">
					<SocialIconLinks
						instagram="https://www.instagram.com/fundacion.cigesar/"
						facebook="https://www.facebook.com/Centro-Integral-de-Salud-Sexual-y-Reproductiva-376361479429154"
						youtube="https://www.youtube.com/channel/UCgWxgJXBpjzVWy8JmQ2rpYA"
						x="https://x.com/cigesar"
					/>
				</div>
			</section>
		</div>
	</div>
	<div class="footer__small">
		<div class="container">
			<div class="footer__small__inner">
				<div class="footer__small__copyright">
					<p><small>Copyright © {year} | Fundación CIGESAR</small></p>
				</div>
				<div class="footer__small__menu">
					<ul>
						{ 
							mainMenu.map((menuItem) => {
								const slug = menuItem.slug || ''
								return <li><a href={slug}>{ menuItem.title }</a></li>
							}) 
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<style>
	.footer {
		background-color: var(--white);
		border-top: 1px solid var(--border-color);
		padding: 1rem 0;

		&__logo img {
			display: block;
			max-height: 200px;
			width: auto;
			@media screen and (max-width: 767px) {
				max-width: 100%;
			}
			@media screen and (max-width: 575px) {
				max-width: 60vw;
				height: auto;
				max-width: 100%;
			}
		}

		&__contact-data {
			flex: 1;
			h3 {
				position: absolute;
				text-indent: -9999px;
			}
			&__info {
				max-width: 400px;
			}
			@media screen and (max-width: 575px) {
				text-align: center;
			}
		}

		&__social-links {
			h3 {
				font-size: 0.9375rem;
				font-weight: var(--font-weight-regular);
				text-align: right;
				margin: 0;
				margin-bottom: 0.25rem;
				@media screen and (max-width: 575px) {
					/*display: none;*/
				}
				@media screen and (max-width: 989px) {
					display: none;
					text-align: left;
				}
			}
			&__links {
				color: var(--accent-color-1);
				@media screen and (max-width: 989px) {
					margin: 0 -.5rem;
				}
			}
		}	
		
		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding: 3rem 0;
			gap: 60px;
		
			/* height: 6rem; */
			
			@media screen and (max-width: 1199px) {
				gap: 40px;
			}
			@media screen and (max-width: 989px) {
				display: grid;
				grid-template-columns: 1fr 2fr;
				grid-template-areas:
					"area1 area2"
					". area4";
			}
			@media screen and (max-width: 767px) {
				grid-template-columns: 40% 60%;
			}
			@media screen and (max-width: 575px) {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 2.5rem;
			}
		}

		
		&__small {
			border-top: 1px solid var(--border-color);
			
			&__inner {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 1rem 0;

				@media screen and (max-width: 575px) {
					flex-direction: column-reverse;
					gap: 0.75rem;
					padding: 2rem 0 3rem;
				}
			}

			&__menu {
				ul, li {
					list-style: none;
					margin: 0;
					padding: 0;
				}
				ul {
					display: flex;
					gap: 1rem;
				}
				a {
					font-size: 0.875rem;
					color: var(--gray-500);
				}
			}

			&__copyright {
				p {
					margin: 0;
				}
				small {
					font-size: 0.875rem;
					color: var(--gray-500);
				}
			}
		}
		.area1{
			grid-area: area1;
		}
		.area2{
			grid-area: area2;
		}
		.area4{
			grid-area: area4;
		}
	}

	@media screen and (max-width: 1399px) {
		.container {
		max-width: unset;
    	padding: 0.25rem 3rem;
		}
	}
	@media screen and (max-width: 1199px) {

	}
	

	@media screen and (max-width: 767px) {
	}
	@media screen and (max-width: 575px) {
	}
</style>
