---
import IconInstagram from './icons/IconInstagram.astro';
import IconFacebook from './icons/IconFacebook.astro';
import IconYoutube from './icons/IconYoutube.astro';
import IconX from './icons/IconX.astro';

interface Props {
	instagram?:string;
	facebook?:string;
	youtube?:string;
	x?:string;
}

const { instagram, facebook, youtube, x } = Astro.props;
---
<div class="social-icon-links">
	<ul>
		{ instagram && <li><a href={instagram} target="_blank">Instagram <IconInstagram /></a></li> }
		{ facebook && <li><a href={facebook} target="_blank">Instagram <IconFacebook /></a></li> }
		{ youtube && <li><a href={youtube} target="_blank">Instagram <IconYoutube /></a></li> }
		{ x && <li><a href={x} target="_blank">Instagram <IconX /></a></li> }
	</ul>
</div>
<style>
	.social-icon-links {
		ul, li {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		ul {
			display: flex;
			gap: 0.25rem;
		}
		a {
			display: flex;
			text-decoration: none;
			text-indent: -9999px;
			padding: 0.625rem;
			color: inherit;

			border-radius: 50%;
			transition: background-color 200ms ease-out;

			&:hover, &:active {
				background-color: rgba(0,0,0,.04);
			}

			:global(svg) {
				display: block;
				width: 1.625rem;
				height: 1.625rem;
			}
		}
	}
</style>
