---
import IconWhatsapp from './icons/IconWhatsapp.astro';

interface Props {
	phoneNumber:string;
	readablePhoneNuember?:string;
}

const { phoneNumber, readablePhoneNuember } = Astro.props;
---
<style>
	.whatsapp-link {
		display: flex;
		gap: 1rem;
		align-items: center;
		font-size: 1.5rem;
		color: var(--accent-color);
		color: var(--page-primary-color);
		text-decoration: none;

		&:hover {
			span {
				text-decoration: underline;
			}
		}
	}
</style>
<a class="whatsapp-link" href={ `https://wa.me/${phoneNumber}` } target="_blank">
	<IconWhatsapp /> <span>{readablePhoneNuember || phoneNumber}</span>
</a>