---
import IconWhatsapp from './icons/IconWhatsapp.astro';

interface Props {
	phoneNumber:string;
}

const { phoneNumber } = Astro.props;
---
<style>
    .whatsapp-bubble-link {
		display: flex;
		gap: 1rem;
		align-items: center;
		font-size: 1.65rem;
		color: #fff;
		background-color: #25D366;
		text-decoration: none;

        position: fixed;
        bottom: 22px;
        right: 22px;
        padding: 12px;
        border-radius: 100%;
        z-index: 999999;

		&:hover {
			background-color: #128C7E 
		}
	}

 </style>
 <a class="whatsapp-bubble-link" href={ `https://wa.me/${phoneNumber}` } target="_blank">
	<IconWhatsapp />
</a>   