---
---

<div class="text-box">
	<slot></slot>
</div>

<style is:global>
	.text-box {
		& p, & li {
			font-size: 1.25rem;
			font-weight: var(--font-weight-light);
			line-height: 1.75;
			margin: 0 0 1em;

			@media screen and (max-width: 767px) {
				font-size: 1.125rem;
				line-height: 1.65;
			}

		}
		& li {
			margin-bottom: 0;
		}
		& strong, & b {
			font-weight: var(--font-weight-medium);
		}
	}
</style>
